.container.section-title{"data-aos" => "fade-up"}
  %h2 About Us
/ End Section Title
.container
  .row.gy-4
    .col-lg-6.content{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      %ul
        %li
          %i.bi.bi-check2-circle
          %span Ullamco laboris nisi ut aliquip ex ea commodo consequat.
        %li
          %i.bi.bi-check2-circle
          %span Duis aute irure dolor in reprehenderit in voluptate velit.
        %li
          %i.bi.bi-check2-circle
          %span Ullamco laboris nisi ut aliquip ex ea commodo
    .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "200"}
      %p Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
